<?xml version="1.0" encoding="UTF-8"?>
<module id="1055" version="2015090900">
  <modulename>certificate</modulename>
  <sectionid>278</sectionid>
  <sectionnumber>9</sectionnumber>
  <idnumber></idnumber>
  <added>1411579914</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <groupmembersonly>0</groupmembersonly>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availablefrom>0</availablefrom>
  <availableuntil>0</availableuntil>
  <showavailability>1</showavailability>
  <showdescription>0</showdescription>
  <availability_info>
    <availability id="2034">
      <sourcecmid>$@NULL@$</sourcecmid>
      <requiredcompletion>$@NULL@$</requiredcompletion>
      <gradeitemid>101</gradeitemid>
      <grademin>60.00000</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2035">
      <sourcecmid>1040</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2036">
      <sourcecmid>391</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2037">
      <sourcecmid>394</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2038">
      <sourcecmid>397</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2039">
      <sourcecmid>398</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2040">
      <sourcecmid>399</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2041">
      <sourcecmid>400</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2042">
      <sourcecmid>401</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2043">
      <sourcecmid>492</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2044">
      <sourcecmid>402</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2045">
      <sourcecmid>403</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2046">
      <sourcecmid>404</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2047">
      <sourcecmid>408</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2048">
      <sourcecmid>727</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2049">
      <sourcecmid>411</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2050">
      <sourcecmid>412</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2051">
      <sourcecmid>409</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2052">
      <sourcecmid>3250</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2053">
      <sourcecmid>491</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2054">
      <sourcecmid>494</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2055">
      <sourcecmid>489</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2056">
      <sourcecmid>490</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="2057">
      <sourcecmid>497</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
  </availability_info>
</module>